@import "compass/reset"

*
    box-sizing: border-box

html
    height: 100%
    background-color: #eee
    position: relative

    background-attachment: fixed
    background-image: url(../img/bg.jpg)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover

    color : red


body
    font-family: "メイリオ", "Meiryo", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3"
    height: 100%
    background-color: transparent
    font-size: 20px

.content
    p
        line-height: 1.6em
        margin: 16px 0



@import url(http://fonts.googleapis.com/css?family=Cinzel)

.top
    .link-tips
        margin-top: 8px
        text-align: center
        .link-tip
            font-size: 42px
            margin: 0 16px
            a
                color: #000
                &:hover
                    color: #999

    .logo
        text-align: center
        .logo-img
            width: 256px
            height: 256px

    h2
        color: #000
        font-size: 72px
        line-height: 90px
        text-align: center
        font-family: 'Cinzel', serif

    .content
        margin: 40px 0
        p
            color: #444



@mixin peep($top, $size, $color, $mb : 0px)
    overflow: hidden
    position: relative
    &:before
        content: ''        
        display: block
        height: $top + $size + $mb

    .peep
        z-index: -1
        content: ''
        $big : 4000px
        $r : $big / 2 
        $b : $r - $size / 2

        position: absolute
        display: block
        left: 50%
        margin: 0 0 0 (-$r)

        top: - $b + $top
        width: $r * 2
        height: $r * 2
        border-radius: $r
        border-color: $color
        border-width: $b
        border-style: solid


.footer
    .content
        padding: 16px
        @include peep(16px, 160px, #55C394)
        .peep .icon
            text-align: center
            font-size: 72px    
            line-height: 160px
        p
            color: #fafafa

        height: 540px

    .welcome
        .icon
            color: #E97040
    .candidate
        .icon
            color: #FBC
    .about
        .icon
            color: #3D86BE


    .copyright
        color: #fafafa
        background-color: #55C394
        text-align: center
        font-size: 12px
        line-height: 20px
        height: 20px



.container
    max-width: 800px
    margin: 0 auto 

.container:after,
.row:after, 
.col:after, 
.clr:after, 
.group:after
    content: "" 
    display: table 
    clear: both 


.row
    padding-bottom: 0em

.col
    display: block
    float: left
    width: 100%


@media ( min-width : 768px )
    .gutters .col
        margin-left: 2%
    
    .gutters .col:first-child
        margin-left: 0 

@media ( min-width : 768px )
    .span_1
        width: 8.33333333333% 
    .span_2
        width: 16.6666666667% 
    .span_3
        width: 25% 
    .span_4
        width: 33.3333333333% 
    .span_5
        width: 41.6666666667% 
    .span_6
        width: 50% 
    .span_7
        width: 58.3333333333% 
    .span_8
        width: 66.6666666667% 
    .span_9
        width: 75% 
    .span_10
        width: 83.3333333333% 
    .span_11
        width: 91.6666666667% 
    .span_12
        width: 100% 

    .gutters .span_1
        width: 6.5% 
    .gutters .span_2
        width: 15.0% 
    .gutters .span_3
        width: 23.5% 
    .gutters .span_4
        width: 32.0% 
    .gutters .span_5
        width: 40.5% 
    .gutters .span_6
        width: 49.0% 
    .gutters .span_7
        width: 57.5% 
    .gutters .span_8
        width: 66.0% 
    .gutters .span_9
        width: 74.5% 
    .gutters .span_10
        width: 83.0% 
    .gutters .span_11
        width: 91.5% 
    .gutters .span_12
        width: 100% 