@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container:after,
.row:after,
.col:after {
  content: "";
  display: block;
  clear: both; }

.row {
  padding-bottom: 0em; }

.col {
  display: block;
  float: left;
  width: 100%; }

@media (min-width: 600px) {
  .gutters .col {
    margin-left: 2%; }

  .gutters .col:first-child {
    margin-left: 0; } }
@media (min-width: 600px) {
  .span_1 {
    width: 8.33333%; }

  .gutters .span_1 {
    width: 6.5%; }

  .span_2 {
    width: 16.66667%; }

  .gutters .span_2 {
    width: 15%; }

  .span_3 {
    width: 25%; }

  .gutters .span_3 {
    width: 23.5%; }

  .span_4 {
    width: 33.33333%; }

  .gutters .span_4 {
    width: 32%; }

  .span_5 {
    width: 41.66667%; }

  .gutters .span_5 {
    width: 40.5%; }

  .span_6 {
    width: 50%; }

  .gutters .span_6 {
    width: 49%; }

  .span_7 {
    width: 58.33333%; }

  .gutters .span_7 {
    width: 57.5%; }

  .span_8 {
    width: 66.66667%; }

  .gutters .span_8 {
    width: 66%; }

  .span_9 {
    width: 75%; }

  .gutters .span_9 {
    width: 74.5%; }

  .span_10 {
    width: 83.33333%; }

  .gutters .span_10 {
    width: 83%; }

  .span_11 {
    width: 91.66667%; }

  .gutters .span_11 {
    width: 91.5%; }

  .span_12 {
    width: 100%; }

  .gutters .span_12 {
    width: 100%; } }
html {
  height: 100%;
  background-color: #eeeeee;
  position: relative; }

body {
  font-family: "メイリオ", "Meiryo", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3";
  height: 100%;
  background-color: transparent;
  font-size: 20px; }

#bg {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.f8 {
  font-size: 8px; }

.f12 {
  font-size: 12px; }

.f16 {
  font-size: 16px; }

.f20 {
  font-size: 20px; }

.f24 {
  font-size: 24px; }

.f28 {
  font-size: 28px; }

.f32 {
  font-size: 32px; }

.content p {
  line-height: 1.6em;
  margin: 16px 0; }
.content ul, .content ol {
  padding-left: 16px; }
  .content ul li, .content ol li {
    margin: 16px 16px 16px 0;
    line-height: 1.4em; }
.content ul li {
  list-style-type: disc; }
.content ol li {
  list-style-type: decimal; }
.content strong {
  text-decoration: underline; }

.top .link-tips {
  margin-top: 8px;
  text-align: center; }
  .top .link-tips .link-tip {
    font-size: 42px;
    margin: 0 16px; }
    .top .link-tips .link-tip a {
      color: black; }
      .top .link-tips .link-tip a:hover {
        color: #999999; }
.top .logo {
  text-align: center; }
  .top .logo .logo-img {
    width: 256px;
    height: 256px; }
.top h2 {
  color: black;
  font-size: 72px;
  line-height: 90px;
  text-align: center;
  font-family: "Cinzel", serif; }
@media (max-width: 600px) {
  .top h2 {
    font-size: 50px;
    line-height: 70px; } }
.top .content {
  margin: 40px 0;
  padding: 16px;
  font-size: 20px; }
  .top .content p {
    color: #222222; }

.info {
  color: #fafafa;
  font-size: 18px; }
  @media (min-width: 600px) {
    .info {
      overflow: hidden; } }
  .info .content .peep {
    overflow: hidden;
    position: relative; }
    .info .content .peep:before {
      content: "";
      display: block;
      height: 176px; }
    .info .content .peep .peep-hole {
      z-index: 0;
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      margin: 0 0 0 -2000px;
      top: -1904px;
      width: 4000px;
      height: 4000px;
      border-radius: 2000px;
      border-color: #55c394;
      border-width: 1920px;
      border-style: solid; }
    .info .content .peep .icon {
      text-align: center;
      font-size: 72px;
      line-height: 160px; }
  .info .content .message {
    padding: 16px;
    background-color: #55c394; }
    @media (min-width: 600px) {
      .info .content .message {
        padding-bottom: 32768px;
        margin-bottom: -32768px; } }
  .info .content h3 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 32px;
    text-align: center; }
  .info .content .mail {
    font-size: 16px; }
  .info .recruit .icon {
    color: #e97040; }
  .info .candidate .icon {
    color: #ffbbcc; }
  .info .about .icon {
    color: #3d86be; }

.footer {
  background-color: #55c394; }
  .footer .socialbuttons {
    margin: 0 auto;
    max-width: 640px; }
    .footer .socialbuttons .socialbutton {
      margin: 0 auto; }
    .footer .socialbuttons .google {
      width: 120px; }
    .footer .socialbuttons .twitter {
      width: 164px; }
    .footer .socialbuttons .hatena {
      width: 150px; }
    .footer .socialbuttons .facebook {
      width: 150px; }
  .footer .copyright {
    text-align: center;
    font-size: 12px;
    line-height: 20px; }
