{% extends "base.html" %}
{%block content%}
<h1 class="title secondary-title"><a href="{%url "blog.home"%}">Blog</a></h1>

{%if blogs%}
<div class="entry-list">
	{%if has_prev or has_next%}
	<div class="pagination">
		{%if has_prev%}
		<div class="prev"><a href="{%url "blog.home" %}?page={{page | add:-1}}"><i class="fa fa-angle-left"></i> prev</a></div>
		{%endif%}
		{%if has_next%}
		<div class="next"><a href="{%url "blog.home" %}?page={{page | add:1}}">next <i class="fa fa-angle-right"></i></a></div>
		{%endif%}
	</div>
	{%endif%}
	{%for blog in blogs %}
	<div class="entry-item">
		<h2 class="entry-title"><a href="{%url "blog.show" blog.url_name%}">{{blog.title}}</a></h2>
		<div class="entry-item-sub">
			<span class="author">{{blog.author}}</span>
			<span class="pub-date">{{blog.pub_date}}</span>
		</div>
	</div>
	{%endfor%}
</div>
{%endif%}
{%endblock%}
