!!!5
%html{ng-app: "endaApp"}    
    %title {%block title%}えんだまーん{%endblock%}
    %script{src:"{{STATIC_URL}}js/angular.min.js"}
    %script{src:"{{STATIC_URL}}js/angular-resource.min.js"}
    %script{src:"{{STATIC_URL}}js/angular-route.min.js"}
    %script{src:"{{STATIC_URL}}js/angular-sanitize.min.js"}
    %script{src:"{{STATIC_URL}}js/angular-ui-bootstrap-tpls.min.js"}
    %script{src:"{{STATIC_URL}}js/common.js"}
    %link{rel:"stylesheet", href:"{{STATIC_URL}}css/bootstrap.css"}
    %link{rel:"stylesheet", href:"{{STATIC_URL}}css/flat-ui.css"}
    %link{rel:"stylesheet", href:"{{STATIC_URL}}css/common.css"}
    %body
        - block content

