#home
    %h1#title>
        Ms.Hokkaido Univ.2014 Contest
    .clearfix
    .poem
        %p.text-center
            %span 夢
            へと羽ばたこうとする、5人の候補者達。
        %p.text-center
            候補者の
            %span 運
            命はあなたの手に……
        %p
            7月12日、北大を代表とする女性が決まる。
        %p
            各候補者ページより、毎日投票受付中です。

