
.text-center
    %h2
        投票のルール
    %p
        候補者5名の中から、最も魅力的だと思う人へ投票してください。

    %dl.dl-horizontal
        %dt 
            投票権
        %dd 
            1人1日1票(一人で複数のメールアドレスを使用した投票はお控えください。)

        %dt 
            投票締切
        %dd 
            7月11日23時59分まで

        %dt 
            投票方法
        %dd 
            『投票する』と書かれたボタンを押すと、投票用メールが開きます。編集せずそのまま送信してください。投票すると、こちらから投票受領メールが返信されます。

    %p
        ※1日2通以上投票した場合でも投票受領メールが届きますが、有効票として計上されません。
