<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<meta name="robots" content="noindex,nofollow">
<link rel="stylesheet" href="{{STATIC_URL}}css/common.css">
<script src="{{STATIC_URL}}js/jquery-2.0.3.min.js"></script>
<title>{%block title%}ホクダイミスキャン{%endblock%}</title>
{%block head%}{%endblock%}
{%block script%}{%endblock%}
<body>
<div id="bg-container"></div>

<div id="side-bar">	
	<div class="menu-item size2">
		<a href="/">LOGO SPACE</a>
	</div>
	<div class="menu-item">
		<a href="/">HOME</a>
	</div>
	<div class="menu-item">
		<a href="/about">ABOUT</a>		
	</div>
</div>
<div id="main-content">
{%block content%}{%endblock%}
</div>
</body>
</html>