{% extends "base.html" %}
{%block content%}
<div id="bg"></div>

<div class="header"></div>

<div class="top row">
    <div class="col span_2 link-tips">
        <span class="link-tip"><a href="//twitter.com/mshu2014" target="_blank"><i class="fa fa-twitter"></i></a></span>
        <span class="link-tip"><a href="//facebook.com/mshu2014" target="_blank"><i class="fa fa-facebook"></i></a></span>
    </div>

    <div class="col span_8 logo">
        <img class="logo-img" src="{{STATIC_URL}}img/logo.png" alt="logo" />        
    </div>

    <div class="col span_2">　</div>

    <h2 class="col span_12">Revival</h2>
    <h2 class="col span_12">of</h2>
    <h2 class="col span_12">Ms.Hokkaido Univ.</h2>

    <div class="col span12 row gutters content">
        <div class="col span_2">　</div>
        <div class="col span_8 message">
            <p>イイ感じのミスキャン復活を告知する文章イイ感じのミスキャン復活を告知する文章イイ感じのミスキャン復活を告知する文章イイ感じのミスキャン復活を告知する文章イイ感じのミスキャン復活を告知する文章イイ感じのミスキャン復活を告知する文章イイ感じのミスキャン復活を告知する文章イイ感じのミスキャン復活を告知する文章イイ感じのミスキャン復活を告知する文章イイ感じのミスキャン復活を告知する文章イイ感じのミスキャン復活を告知する文章</p>
        </div>        
        <div class="col span_2">　</div>
    </div>
</div>



<div class="footer row">
    <div class="col span_4 content welcome">
        <div class="peep"><div class="icon"><i class="fa fa-users"></i></div></div>
        <p>ミス北海道大学2014実行委員会では、実行委員を募集しています。ここにイイ感じの勧誘文句ここにイイ感じの勧誘文句ここにイイ感じの勧誘文句ここにイイ感じの勧誘文句ここにイイ感じの勧誘文句。<a class="mail">xxxxxxxxxxxxx</a>までメールください。</p>
    </div>

    <div class="col span_4 content candidate">
        <div class="peep"><div class="icon"><i class="fa fa-heart"></i></div></div>
        <p>候補の選出について今のところ出せるギリギリで無難な情報候補の選出について今のところ出せるギリギリで無難な情報候補の選出について今のところ出せるギリギリで無難な情報候補の選出について今のところ出せるギリギリで無難な情報</p>
    </div>

    <div class="col span_4 content about">
        <div class="peep"><div class="icon"><i class="fa fa-check"></i></div></div>
        <p>団体に関する情報団体に関する情報団体に関する情報団体に関する情報団体に関する情報団体に関する情報団体に関する情報団体に関する情報団体に関する情報団体に関する情報団体に関する情報団体に関する情報団体に関する情報</p>
    </div>

    <div class="col span_12 copyright">©2014 ミス北海道大学2014実行委員会 All Rights Reserved.</div>

</div>    




{%endblock%}
